<html>

    <head>
        <title>
            Mike's blog
        </title>
    </head>

    <body>
        <div>
            <h1>
                <a href = "/">
                    Mike good blog
                </a>
            </h1>
        </div>

        <div>
            <p>
                publish : .11.1.
            </p>

            <h2>
                <a herf = "">
                    1st time post
                </a>

            </h2>

            <p>
                I am in Staples
            </p>
        </div>


        <div>
            <p>publish time 342432423</p>
            <h2><a href="">2nd post  it's a heading and a link</a></h2> 
            <p>I am stil in Staples</p>           https://tutorial.djangogirls.org/en/html/!!!!!!!!
        </div>

        
        <p>
            Hi There!
        </p>

        <p>
            It works!
        </p>

    </body>
</html>